/* Styles */

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #020122;
}

p{
    color:white;
    font-family: "Roboto";
    font-size: 20px;;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: "Roboto";
    background-color: rgba(0, 33, 71, 0.4);
    color: #f4442e;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -10px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 200px;
    height: 200px;

  
}

.text {
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #020122;
}
.results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
   
}

.results-box {
    margin-top: 20px;
   
}
.results-box-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #f4442e 5px solid;
    width: 40%;
}

.hover{
    
    border: #f4442e 5px solid;
    border-radius: 20px;
    box-shadow: 0 0 1rem #f4442e;
}